
/* Background */
body {
    background-image: url(../images/background.jpg);
    font-family: 'Poppins', sans-serif;
    margin: 1rem;
    padding: 1rem;
}

/* Container Styles */
.container {
    background-color: rgba(195,60,74,.8);
    border: 2px solid rgb(195,60,74);
    padding: 2rem;
    width: 70%;
    margin: auto;
}

/* Text inside of container */
#game-title {
    font-size: 3rem;
    padding-bottom: .8rem;
}

.playerSelect,
#row-1,
#row-2,
#row-3,
#row-4 {
    font-size: 2rem;
}

/* Player Images */
#cady,
#regina,
#karen,
#gretchen {
    width: 160px;
    margin: 1.5rem;
}

/* Button Styles */
button {
    margin: 2rem 0;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    background-color: rgb(247,177,187);
    border: 1px solid black;
}

button:hover {
    transform: scale(1.1);
}

/* Sets border colors to distinguish between players to select and those that have been selected */
.introImage {
    border: 8px solid #FF6A7F;
}

.chooseOpponent {
    border: 8px solid #E80F0C;
}

.defender {
    border: 8px solid black;
}
